<div class="aside-box">
  <div class="user-info-box">
    <a>
      <img src="/admin/assets/user.jpg" class="user-img">
      <div class="user-name">Perfree</div>
      <div class="user-introduction">只要心还跳</div>
    </a>

  </div>
  <div class="menu-box">
    <span class="nav-tip">导航</span>
    <ul nz-menu nzMode="inline" class="menu-ul">
      <li nz-menu-item>
        <i nz-icon nzType="home" nzTheme="outline"></i>首页
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="layout" nzTheme="outline"></i>分类
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="read" nzTheme="outline"></i>归档
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="picture" nzTheme="outline"></i>相册
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="idcard" nzTheme="outline"></i>关于
      </li>
      <li nz-submenu nzTitle="其他" nzIcon="appstore">
        <ul>
          <li nz-menu-item>Option 5</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
