.left-create-article{
  border-right: 1px dashed;
  padding-right: 15px;
  height: 100%;
  border-color: #dddddd;
}
.ant-form,.create-article-box{
  height: 100%;
}
.ant-form-item{
  margin-bottom: 12px;
}
.article-title-input{
  font-weight: 700;
  font-size: 16px;
  height: 40px;
}
.right-create-article{
  padding-left: 15px;
}
:host /deep/ .ant-upload{
  width: 100%;
  height: 200px;
}
.articleBtn{
  float: right;
}
.push-article{
  margin-left: 15px;
}
.ant-form-item-label,.ant-form-item-control{
  line-height: 30px;
}
