<div class="header-box">
  <div class="logo-box">
    <img src="/assets/logo.png" class="logo-img">
    <span class="logo-text">Perfree</span>
  </div>
  <!-- 搜索 -->
  <div class="search-box">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <div class="right-box">
    <a class="notice-btn">
      <nz-badge [nzCount]="5">
        <i nz-icon nzType="bell" nzTheme="outline" style="font-size: 18px;color: #595959;"></i>
      </nz-badge>
    </a>
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="right-user-info">
      Click me
      <i nz-icon nzType="down" style="padding-right: 5px"></i>
      <nz-avatar nzIcon="user"></nz-avatar>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>1st menu item</li>
        <li nz-menu-item>2nd menu item</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
