<form [formGroup]="markdownForm">
  <div id="md"
       appEditorMd
       [editormdConfig]="conf"
       class="editor-md-content"
       (onEditorChange)="syncModel($event)">
    <textarea formControlName="markdown" style="display: block;"></textarea>
  </div>
</form>

<!-- 图片选择的弹出框 -->
<nz-modal [(nzVisible)]="editorImage.isSelectImageModelVisible" (nzOnCancel)="imagePanelHandleCancel()"
          [nzFooter]="null" [nzWidth]="684" (nzAfterOpen)="openImagePanel()">
  <ng-container #imagePanel>
   <!-- <app-image-panel (onSelectImg)="syncImage($event)"></app-image-panel>-->
  </ng-container>
</nz-modal>
