<nz-tabset>
  <nz-tab nzTitle="图片上传">
    <nz-upload
      class="avatar-uploader"
      [nzAction]="uploadUrl"
      nzName="file"
      nzListType="picture-card"
      [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
      [nzShowUploadList]="false"
      (nzChange)="handleChange($event)"
    >
      <ng-container *ngIf="!avatarUrl">
        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
        <div class="ant-upload-text">上传图片</div>
      </ng-container>
      <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" height="292px"/>
    </nz-upload>
    <button nz-button nzType="primary" style="float: right;margin-left: 10px" (click)="selectUploadImg()">
      确定
    </button>
  </nz-tab>

  <nz-tab nzTitle="图片库" (nzSelect)="searchData(true)">
    <div class="imageList">
      <ng-container *ngFor="let o of listOfData">
        <a class="imageBox" (click)="selectImg(o)">
          <img [src]="serverUrl + o.filePath" class="image">
          <p class="imageName">{{o.fileName}}</p>
        </a>
      </ng-container>
    </div>
    <div>
      <nz-pagination [nzTotal]="imageListTotal"
                     [(nzPageIndex)]="pageIndex"
                     [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="searchData()"
                     (nzPageSizeChange)="searchData(true)"></nz-pagination>
    </div>
  </nz-tab>
</nz-tabset>
