:host /deep/ .ant-upload{
  width: 100%;
  height: 300px;
}
.imageList{
  width: 100%;
  min-height: 300px;
  float: left;
}
.imageBox{
  display: block;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid white;
}
.imageName{
  color: #494949;
  background: #e7e7e7;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin: 0;
  width: 200px;
  display: block;
}
.imageBox:nth-child(3n+0){
  padding-right: 0;
}
.image{
  width: 200px;
  height: 150px;
}
.imageBox:hover{
  border: 1px solid indianred;
}
