<div class="hot-article-box">
  <span class="hot-article-tip">热门文章</span>
  <a class="hot-article">
    <img src="/assets/randomImg/1.png" class="hot-article-img">
    <div class="hot-article-right">
       <span class="hot-article-title">
         测试测试测试
       </span>
      <span class="hot-article-info">
         <i nz-icon nzType="eye" nzTheme="outline"></i> 99
         <i nz-icon nzType="message" nzTheme="outline" style="margin-left: 6px"></i> 10
       </span>
    </div>
  </a>

  <a class="hot-article">
    <img src="/assets/randomImg/2.png" class="hot-article-img">
    <div class="hot-article-right">
       <span class="hot-article-title">
         测试测试测试试测试试测试试测试
       </span>
      <span class="hot-article-info">
         <i nz-icon nzType="eye" nzTheme="outline"></i> 99
         <i nz-icon nzType="message" nzTheme="outline" style="margin-left: 6px"></i> 10
       </span>
    </div>
  </a>
</div>
