<form nz-form [nzLayout]="'horizontal'" [formGroup]="validateForm">
    <div class="basisSetting-box">
        <h2 class="settingTitle">基础设置</h2>
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzRequired>网站名称</nz-form-label>
            <nz-form-control [nzSpan]="20" nzHasFeedback nzValidatingTip="正在检查是否合规..." nzErrorTip="配置名应在128个字符内">
                <input nz-input formControlName="key" placeholder="请输入配置名" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzRequired>网站标题</nz-form-label>
            <nz-form-control [nzSpan]="20" nzHasFeedback nzValidatingTip="正在检查是否合规..." nzErrorTip="配置名应在128个字符内">
                <input nz-input formControlName="key" placeholder="请输入配置名" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzRequired>网站副标题</nz-form-label>
            <nz-form-control [nzSpan]="20" nzHasFeedback nzValidatingTip="正在检查是否合规..." nzErrorTip="配置名应在128个字符内">
                <input nz-input formControlName="key" placeholder="请输入配置名" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzRequired>网站域名</nz-form-label>
            <nz-form-control [nzSpan]="20" nzHasFeedback nzValidatingTip="正在检查是否合规..." nzErrorTip="配置名应在128个字符内">
                <input nz-input formControlName="key" placeholder="请输入配置名" />
            </nz-form-control>
        </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">ico图标</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <app-select-image #selectImage [imgInfo]="imageInfo"></app-select-image>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="advancedSetting-box">
        <h2 class="settingTitle">其他设置</h2>
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzRequired>备案号</nz-form-label>
            <nz-form-control [nzSpan]="20" nzHasFeedback nzValidatingTip="正在检查是否合规..." nzErrorTip="配置名应在128个字符内">
                <input nz-input formControlName="key" placeholder="请输入配置名" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzRequired>版权信息</nz-form-label>
            <nz-form-control [nzSpan]="20" nzHasFeedback nzValidatingTip="正在检查是否合规..." nzErrorTip="配置名应在128个字符内">
                <input nz-input formControlName="key" placeholder="请输入配置名" />
            </nz-form-control>
        </nz-form-item>
    </div>
  </form>
