.container{
  width: 70%;
  height: 100%;
  margin: auto;
  position: relative;
  box-shadow: 0 0 8px #bfbfbf;
  overflow: hidden;
}

.content-box{
  width: calc(100% - 220px);
  position: absolute;
  top: 50px;
  left: 220px;
  background: #e5eaea;
  height: calc(100% - 100px);
}
.content-part{
  width: calc(100% - 220px);
  background: #fdfeff;
  height: 100%;
}
