.container{
  width: 70%;
  margin: auto;
  position: relative;
  box-shadow: 0 0 8px #bfbfbf;
}

.content-box{
  width: calc(100% - 220px);
  margin-left: 220px;
  background: #efefef;
  min-height: calc(100% - 50px);
}
.content-part{
  background: #efefef;
  min-height: calc(100vh - 115px);
  padding: 15px 15px 0px;
  width: calc(100% - 220px);
}
.content-box::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}
.content-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #9ea7b4;
}
.content-box::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #d7dde4;
}
