<div class="perfree-container">
  <!-- 搜索表单部分 -->
  <div class="searchPanel">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">状态</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select formControlName="type">
            <nz-option nzValue="0" nzLabel="未审核"></nz-option>
            <nz-option nzValue="1" nzLabel="已审核"></nz-option>
            <nz-option nzValue="2" nzLabel="未通过"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" class="tableBtn queryBtn" (click)="searchData()">
        <i nz-icon nzType="search"></i>查询
      </button>
    </form>
  </div>

  <!-- 表格部分 -->
  <div class="dataPanel">
    <nz-table #expandTable [nzData]="listOfMapData"
              nzShowSizeChanger
              nzBordered
              [nzFrontPagination]="false"
              [nzLoading]="loading"
              [nzTotal]="total"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="searchData()"
              (nzPageSizeChange)="searchData()" >
      <thead>
      <tr>
        <th nzWidth="5%"></th>
        <th nzWidth="30%">内容</th>
        <th nzWidth="20%">文章标题</th>
        <th nzWidth="15%">评论人</th>
        <th nzWidth="10%">审核状态</th>
        <th nzWidth="20%">操作</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let data of expandTable.data">
        <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
          <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
            <td
              [nzIndentSize]="item.level * 20"
              [nzShowExpand]="item.childComment && item.childComment.length > 0"
              [(nzExpand)]="item.expand"
              (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
            >
            </td>
            <td>{{item.context}}</td>
            <td>{{item.article.articleTitle}}</td>
            <td>{{item.user.name}}</td>
            <td>
              <ng-container *ngIf="item.audit === 0">
                未审核
              </ng-container>
              <ng-container *ngIf="item.audit === 1">
                已审核
              </ng-container>
              <ng-container *ngIf="item.audit === 2">
                未通过
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="item.pid === -1">
                <a class="operatingBtn" (click)="addMenu(false, item.id)">添加子菜单</a>
              </ng-container>
              <a class="operatingBtn" (click)="updateMenu(item)">编辑</a>
              <ng-container *ngIf="item.status === 0">
                <a class="operatingBtn" (click)="updateStatus(item.id, 1)">禁用</a>
              </ng-container>
              <ng-container *ngIf="item.status === 1">
                <a class="operatingBtn" (click)="updateStatus(item.id, 0)">启用</a>
              </ng-container>
              <ng-container *ngIf="item.source !== 0">
                <a class="operatingBtn" nz-popconfirm nzPopconfirmTitle="确定要删除吗?"
                   nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(item.id)">删除</a>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </nz-table>
  </div>
</div>


<!--&lt;!&ndash; 添加的弹出框 &ndash;&gt;-->
<!--<nz-modal [(nzVisible)]="isAddVisible" [nzTitle]="addTitle" (nzOnCancel)="addHandleCancel()" (nzOnOk)="addHandleOk()"-->
<!--          [nzOkLoading]="isAddOkLoading">-->
<!--  <ng-container #addDom></ng-container>-->
<!--</nz-modal>-->

<!--&lt;!&ndash; 更新的弹出框 &ndash;&gt;-->
<!--<nz-modal [(nzVisible)]="isUpdateVisible" [nzTitle]="'更新菜单'" (nzOnCancel)="updateHandleCancel()" (nzOnOk)="updateHandleOk()"-->
<!--          [nzOkLoading]="isUpdateOkLoading">-->
<!--  <ng-container #updateDom></ng-container>-->
<!--</nz-modal>-->
