/* You can add global styles to this file, and also import other style files */
body{
  background: #efefef;
  overflow: auto;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b3b3b3;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #d1d9e3;
}
::selection {
  background: #344449;
  color: #fff;
  text-shadow: none;
}
