<div class="article-list-box">
  <div class="article-box">
    <a class="article-img-box">
      <img src="/assets/randomImg/1.png" class="article-img">
    </a>
    <div class="article-content-box">
      <h2><a class="article-title">测试测试测试</a></h2>
      <p class="article-description">
        这是描述
      </p>
      <nz-divider></nz-divider>
      <div class="article-info-box">
        <span class="article-info"><i nz-icon nzType="user" nzTheme="outline"></i> Perfree</span>
        <span class="article-info"><i nz-icon nzType="clock-circle" nzTheme="outline"></i> 2019年-06月-05日</span>
        <span class="article-info"><i nz-icon nzType="eye" nzTheme="outline"></i> 999</span>
        <span class="article-info"><i nz-icon nzType="message" nzTheme="outline"></i> 14条评论</span>
      </div>
    </div>
  </div>

  <div class="article-box">
    <a class="article-img-box">
      <img src="/assets/randomImg/2.png" class="article-img">
    </a>
    <div class="article-content-box">
      <h2><a class="article-title">测试测试测试</a></h2>
      <p class="article-description">
        这是描述
      </p>
      <nz-divider></nz-divider>
      <div class="article-info-box">
        <span class="article-info"><i nz-icon nzType="user" nzTheme="outline"></i> Perfree</span>
        <span class="article-info"><i nz-icon nzType="clock-circle" nzTheme="outline"></i> 2019年-06月-05日</span>
        <span class="article-info"><i nz-icon nzType="eye" nzTheme="outline"></i> 999</span>
        <span class="article-info"><i nz-icon nzType="message" nzTheme="outline"></i> 14条评论</span>
      </div>
    </div>
  </div>


  <div class="article-box">
    <a class="article-img-box">
      <img src="/assets/randomImg/3.png" class="article-img">
    </a>
    <div class="article-content-box">
      <h2><a class="article-title">测试测试测试</a></h2>
      <p class="article-description">
        这是描述
      </p>
      <nz-divider></nz-divider>
      <div class="article-info-box">
        <span class="article-info"><i nz-icon nzType="user" nzTheme="outline"></i> Perfree</span>
        <span class="article-info"><i nz-icon nzType="clock-circle" nzTheme="outline"></i> 2019年-06月-05日</span>
        <span class="article-info"><i nz-icon nzType="eye" nzTheme="outline"></i> 999</span>
        <span class="article-info"><i nz-icon nzType="message" nzTheme="outline"></i> 14条评论</span>
      </div>
    </div>
  </div>
</div>
