<div class="website-info-box">
  <span class="website-info-tip">网站信息</span>
  <div class="website-card">
    <div class="website-info">
      <span class="website-info-left">
        <i nz-icon nzType="read" nzTheme="outline"></i> 文章数目
      </span>
      <span class="website-info-right">
        236
      </span>
    </div>
    <div class="website-info">
       <span class="website-info-left">
       <i nz-icon nzType="message" nzTheme="outline"></i> 评论数目
      </span>
      <span class="website-info-right">
        99
      </span>
    </div>
    <div class="website-info">
       <span class="website-info-left">
        <i nz-icon nzType="calendar" nzTheme="outline"></i> 运行天数
      </span>
      <span class="website-info-right">
        1月30天
      </span>
    </div>
    <div class="website-info">
       <span class="website-info-left">
        <i nz-icon nzType="sound" nzTheme="outline"></i> 最后发表
      </span>
      <span class="website-info-right">
        1天前
      </span>
    </div>
  </div>
</div>
